body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-satoshi;
  font-size: $body-font-size-md;
  font-weight: 400;
  color: $dark-primary;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $font-satoshi;
  font-size: 1rem;
  cursor: pointer;
}

img,
picture {
  display: block;
  max-width: 100%;
}

.global-container {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  padding: 0 $container-padding;

  @media screen and (min-width: $md) {
    padding: 0 $container-padding-md;
  }

  @media screen and (min-width: $xl) {
    padding: 0 $container-padding-xl;
  }
}
