$font-satoshi: 'Satoshi';
$font-clash-display: 'ClashDisplay';

@font-face {
  font-family: $font-satoshi;
  src: url('@/assets/fonts/Satoshi-Variable.ttf');
}

@font-face {
  font-family: $font-clash-display;
  src: url('@/assets/fonts/ClashDisplay-Variable.ttf');
}
