//screen sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

//colors
$dark-primary: #2a254b;
$primary: #4e4d93;
$light-gray: #f9f9f9;
$border-gray: #ebe8f4;
$white: #ffffff;
$border-dark: #cac6da;
$nav-link: #726e8d;

//fonts
$font-satoshi: 'Satoshi';
$font-clash-display: 'ClashDisplay';

//base font size
$font-size: 16px;

//container padding
$container-padding: 24px;
