//screen sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

//colors
$dark-primary: #2a254b;
$primary: #4e4d93;
$light-gray: #f9f9f9;
$border-gray: #ebe8f4;
$white: #ffffff;
$border-dark: #cac6da;
$nav-link: #726e8d;

//fonts
$font-satoshi: 'Satoshi';
$font-clash-display: 'ClashDisplay';

//base font size
$body-font-size: 16px;

//headings font size
$h1-font-size: 36px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 14px;

//body font sizes
$body-font-size-sm: 14px;
$body-font-size-md: 16px;
$body-font-size-lg: 18px;

//container padding
$container-padding: 24px;
$container-padding-md: 40px;
$container-padding-xl: 80px;
